.profile__info {
  margin: 0 auto 0 30px;
  display: grid;
  grid-template-areas: "name button"
                       "about about";
  grid-template-columns: auto 1fr;
  column-gap: 18px;
  align-self: flex-start;
}

@media screen and (max-width: 635px) {
  .profile__info {
    column-gap: 10px;
    margin: 0;
    align-self: center;
  }
}
